.main{
	display: flex;
	justify-content: center;

}
body{
	background-color: #C5E8CF;
}
.books{
	display: flex;
	justify-content: center;
	padding: 20px;
}
.books figure{
	text-align: center;
	border: 2px solid white;
	padding: 10px;
}
.books img{
	width: 100%;
	height: auto;
}