.main{
	text-align: center;
	background-color: #D7D6AA;
}
body{
	background-color: #A9A74F;
}
.page-title{
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 2.5rem;
	padding: 10px;
}
.author{
	margin-bottom: 10px;
	font-size: 2rem;
}
.author-info{
	text-align: center;
}
.author-photo img{
	width: 100px
	height: 100px;
	border: 3px solid gray;
	border-radius: 5px;
}
.author-photo figcaption{
	margin-top: 10px;
	color: darkred;
}
.main p{
	color: darkblue;
}
.books{
	display: flex;
	justify-content: center;
	padding: 20px;
	gap: 20px;
}
.books figure{
	text-align: center;
	margin: 20px;
}
.books img{
	width: 100%;
	height: auto;
	border: 5px solid white;
	border-radius: 5px;
}
.book figcaption{
	margin-top: 20px;
	color: white;
}
.form{
	background-color:#88C385;
	padding: 20px;
	border: 10px;
	margin: 0;
	text-align: center;
}
.form h3{
	margin-bottom: 15px;
}
.form label{
	color: red;
}
#submit{
	background-color: #59981A;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}
#submit: hover{
	background-color:#3D550C;
}