#page-title{
	justify-content: center;
}
.main{
	display: flex;
	justify-content: center;
}
body{
	background-color: #C5E8CF;
}
.books{
	display: flex;
	justify-content: center;
	padding: 20px;
	gap: 20px;

}
.books figure{
	text-align: center;
	margin: 20px;

}
.books img{
	width: 100%;
	height: auto;
	border: 5px solid white;

}
.book figcaption{
	margin-top: 10px;
	color: white;
}